<% provide(:title, @user.name) %>
<div class="container-fluid">
  <div class="row">
    <aside class="col-lg-3 container sidebar_content">
      <section class="user_info row sidebar_fixed" data-turbolinks="false">
        <%= gravatar_for @user, size: 100 %>
        <h3><%= @user.name %></h3>
        <% if @user == current_user %>
          <%= link_to "ログを作成する", new_diving_log_url, class:"btn btn-info w-100", role: "button" %>
        <% end %>
      </section>
    </aside>
    <div class="col-lg-9 diving_logs">
      <h1 class="log-title">ダイビングログ一覧</h1>
      <% if @user.diving_logs.any? %>
        <%= paginate @diving_logs, theme: 'twitter-bootstrap-4' %>
        <ol class="logs_overview">
          <%= render @diving_logs %>
        </ol>
        <%= paginate @diving_logs, theme: 'twitter-bootstrap-4' %>
      <% else %>
        <h2>現在閲覧可能なログはありません<h2>
      <% end %>
    </div>
  </div>
</div>
