<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">
      <%= link_to image_tag('diving_logo.png', width: 50), root_path, class:"logo-img" %>
      <%= link_to "Diver's Log", root_path, class: "logo-text" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav">
        <li class="nav-item active"><%= link_to "Home", '/', class: "nav-link"%></li>
        <li class="nav-item active"><%= link_to "My logs", '#', class: "nav-link"%></li>
        <li class="nav-item active"><%= link_to "Users", '#', class: "nav-link"%></li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "setting", '#', class: "dropdown-item" %>
          </div>
        </li>
      </ul>
  </nav>
</header>