<header>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= link_to image_tag('diving_logo.png', width: 74), root_path, class: "logo-img" %>
        <%= link_to "Diver's Log", root_path, class: "logo-text mr-auto" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active d-flex p-3">
            <%= link_to root_path, class: "my-auto" do %>
              <i class="fas fa-home fa-2x icon"></i>
            <% end %>
            <%= link_to "Home", root_path, class: "nav-link"%>
          </li>

          <% if logged_in? %>
            <li class="nav-item active d-flex p-3">
              <%= link_to users_path, class: "my-auto" do %>
                <i class="fas fa-users fa-2x my-auto icon"></i>
              <% end %>
              <%= link_to "Users", users_path, class: "nav-link"%>
            </li>

            <li class="nav-item active d-flex p-3">
              <%= link_to current_user, class: "my-auto" do %>
                <i class="far fa-address-book fa-2x icon"></i>
              <% end %>
              <%= link_to "My logs", current_user, class: "nav-link"%>
            </li>

            <li class="nav-item active dropdown p-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
                <li><%= link_to "Setting", edit_user_path(current_user), class: "dropdown-item" %></li>
                <li><%= link_to "Help", '/help', class: "dropdown-item" %></li>
                <li class="dropdown-divider"></li>
                <li><%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item active d-flex p-3">
              <%= link_to login_path, class: "my-auto" do %>
                <i class="fas fa-sign-in-alt fa-2x my-auto icon"></i>
              <% end %>
              <%= link_to "Login", login_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>